[build]
  publish = "public"
  command = """
    # Install JupyterLite and dependencies from requirements.txt
    pip install -r requirements.txt &&
    # Build the Hugo site
    hugo --minify --gc &&

    # ref for below code: https://github.com/r-wasm/jupyterlite-webr-kernel
    git clone https://github.com/r-wasm/jupyterlite-webr-kernel
    cd jupyterlite-webr-kernel
    pip install --no-deps .
    cd ..
    
    # Build the JupyterLite environment with contents from files directory
    # Create files directory if it doesn't exist
    mkdir -p files
    jupyter lite build --contents files --output-dir public/live
  """

[build.environment]
  HUGO_VERSION = "0.155.3"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.production.environment]
  HUGO_VERSION = "0.155.3"
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.155.3"

[context.branch-deploy]
  command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.155.3"
